body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background-color: #FCFCFC;
}

/* page header, community selector */

.page-header, .community-select {
	float: left;
	display: inline-block;
}

.community-select {
	position: absolute;
	margin-left: 10px;
	margin-top: 25px;
	width: 180px;
    border: 1px solid #e5e1e1;
    border-radius: 3px;
    overflow: hidden;
    background: #ffffff;
}

.community-select select {
	color: #FD7752;
	width: 100%;
	font-size: 22px;
    padding-left: 5px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.community-select select:focus {
    outline: none;
}

.select-side {
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 40px;
	top: -3px;
	left: 140px;
}

.select-side i {
	left: 30%;
	top: 12px;
	color: #999999;
}

.community-select:hover i {
	color: #000000;
}

.community-select:hover {
	border-color: #999999;
}

/* news items */

.news-container {
	padding-bottom: 20px;
}

.news-item {
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;		
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e1e1;
}

.news-title {
	margin-bottom: 0px;
}

.news-content {
	margin-top: 10px;
}

.additional-info {
	color: #999999;
}

/* miscellaneous */

footer {
    margin: 50px 0;
}