body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background-color: #FCFCFC;
}

/* page header, community selector, news area selector */

.page-header {
	display: inline-block;
}

.addbtn {
    background:none;
    border:none;
    margin:0;
    padding:0;
	text-color: white;
}

.community-area-select {
	display: inline-block;
	width: 180px;
    border: 1px solid #e5e1e1;
    border-radius: 3px;
    overflow: hidden;
    background: #ffffff;
}

.community-area-select select {
	color: #FD7752;
	width: 100%;
	font-size: 22px;
    padding-left: 5px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.community-area-select select:focus {
    outline: none;
}

.select-side {
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 40px;
}

.select-side i {
	left: 155px;
	top: 8px;
	color: #999999;
}

.community-area-select:hover i {
	color: #000000;
}

.community-area-select:hover{
	border-color: #999999;
}

/* news items */

.news-container {
	padding-bottom: 20px;
}

.news-item {
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;		
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e1e1;
	
	animation-name: news-appear;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

@keyframes news-appear {
    0% {
        transform: translateY(20px);
		opacity: 0.5;
    }
    100% {
        transform: translateY(0);
		opacity: 1;
    }
}

.news-title {
	margin-bottom: 0px;
}

.news-content {
	margin-top: 10px;
}

.additional-info {
	color: #999999;
}

/* Adding news modal */


.modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:50%;
}

.status-upload form textarea {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	color: #777777;
	font-size: 14px;
	padding: 20px;
	resize:vertical;
	outline:none;
	border: 1px solid #F2F2F2;
	height: 110px;
	letter-spacing: 0.3px;
	padding: 20px;
	width: 100%;
}

.status-upload {
	background: none repeat scroll 0 0 #fff;
	float: left;
	width: 50%;
}

.form{
	padding: 0 0 0 15px;
}

.status-upload form {
	float: left;
	width: 100%;
}


.status-upload ul {
	float: left;
	list-style: none osutside none;
	margin: 0;
	padding: 0 0 0 15px;
	width: auto;
}

.status-upload ul > li > a:hover {
	background: none repeat scroll 0 0 #606060;
	color: #fff;
}

#publish{
	float: right;
	border: 0 20 0 20px;
}

.status-upload form button {
	border: medium none;
	color: #fff;
	border: medium none;
	font-size: 14px;
}

#hl{
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	color: #777777;
	font-size: 14px;
	padding: 20px;
	outline:none;
	border: 1px solid #F2F2F2;
	height: 30px;
	width: 100%;
}

/* miscellaneous */

footer {
    margin: 50px 0;
}